<div class="columns is-centered">
  <div class="column is-half">
    <h1 class="has-text-centered title">Editing user</h1>

    <%= render "form", user: @user %>

    <br>

    <div class="has-text-centered">
      <%= link_to "Show this user", @user %> |
      <%= link_to "Back to users", users_path %>
    </div>
  </div>
</div>
